<footer>
	<div class="container">
		<div class="col-sm-6">
			<div class="row">
				<h3>Template Footer</h3>
			</div>
			<div class="row">
				<div>
					<a class="social" href="https://www.facebook.com/"><i class="fa fa-facebook-square fa-3x"></i></a>
					<a class="social" href="https://twitter.com/"><i class="fa fa-twitter-square fa-3x"></i></a>
					<a class="social" href="https://plus.google.com/"><i class="fa fa-google-plus-square fa-3x"></i></a>
					<a class="social" href="mailto:someone@email.com"><i class="fa fa-envelope-square fa-3x"></i></a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<ul class="list-unstyled">
				<li><a href="#">Home</a></li>
				<li><a href="#">Link</a></li>
				<li><a href="#">Link</a></li>
			</ul>
		</div>
	</div>
</footer>